#nav{
    margin-top:10px ;
    margin-left: 10px; ;
    float: center;
    
    
}
 
 .topnav a {
    background-color: #C2DD8F;
    text-align: center;
    display: row;
    color: black;
    text-align:center;
    padding: 13px;
    text-decoration: none;
    font-size: 17px;
  

  }
.topnav{
  text-align:center;
  padding: 10px;
 
  
}
.topnav a:hover {
    background-color: #C2DD8F;
    background-color: green;
    color: white;
    
  }



    .topnav input[type=search] {
        background-color: #C2DD8F;
      border: 1px solid #ccc;
    }
  


