.Footer{
    position: absolute;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    
    text-align: center; 
    border: #C2DD8F;
    background-color: #C2DD8F;
    display:flex;
    border-top: green;
    border-color: green;
    border-top-width: 10px;
    border-top-style:inset;

    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}

@media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }


#instagram{
    align-items: end;
    display:flex;
    height: 50px;
    width: 50px;
}

#Facebook{
    align-items: end;
    display:flex;
    height: 50px;
    width: 50px;
}

#email{
    text-align: right;
    
}